<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

  <nav class="sidebar-nav">
    <h2>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/">Home</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/about">About</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/Intro">Intro</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/Timeline">Timeline</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/Quant">History of debate</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/Analysis">Analysis of debate</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/Sources">Sources</a>
    </h2>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
